.jumbotron {
    text-align: center;
    background : none;
}

.section-light {
    background-color: #eceeef;
    padding : 2em;

}
.sectionDark {
    background-color: #cccc;
    padding: 2rem;
}
.coolStuffWrapper {
    margin-top: 20px;
}
button.coolStuffBtn {
    background-color: indianred;
    color: #ffffff;
    display: block;
    margin: auto;
}
h5.modal-title {
    margin: auto;
}
img.sexyBunny {
    display: block;
    margin: auto;
}
.ModalFormWrapper {
    padding: 2rem;
}
.imgCenter {
    display: block;
    margin: auto;
}
.btnCenter {
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 80%;
}

.footerImg {
    padding-top: 15px;
}

.fa-facebook-square {
    color: #3b5998;
}
.fa-google {
    color: #c32f10;
}
.fa-instagram {
    color:#ffffff;
}


.fab {
    margin: 10px; }

.socialWrapper {
  margin: auto;
}
