.jumbotron {
    text-align: center;
    background : none;
}

.section-light {
    background-color: #eceeef;
    padding : 2em;

}
.sectionDark {
    background-color: #cccc;
    padding: 2rem;
}
.coolStuffWrapper {
    margin-top: 20px;
}
button.coolStuffBtn {
    background-color: indianred;
    color: #ffffff;
    display: block;
    margin: auto;
}